<div class="row">
  <h2>Summary</h2>
</div>
<div class="row">
  <div class="col-md-6 column-container">
    <ws-donut-chart-card [dataPoints]="domainReportAnalytics?.related_ips" (dataClicked)="onRelatedIpsClicked($event)" [title]="'Related Ip Addresses'"></ws-donut-chart-card>
  </div>
  <div class="col-md-6 column-container">
    <ws-donut-chart-card [dataPoints]="domainReportAnalytics?.resolution_type" (dataClicked)="onResolutionTypeClicked($event)" [title]="'Domain Resolution Types'"></ws-donut-chart-card>
  </div>
  <div class="col-md-6 column-container">
    <ws-donut-chart-card [dataPoints]="domainReportAnalytics?.has_resolutions" (dataClicked)="onHasResolutionsClicked($event)" [title]="'Domain Resolved?'"></ws-donut-chart-card>
  </div>
  <div class="col-md-6 column-container">
    <ws-donut-chart-card [dataPoints]="domainReportAnalytics?.domain_added_by" (dataClicked)="onAddedByClicked($event)" [title]="'Domain Added By'"></ws-donut-chart-card>
  </div>
</div>
<div class="row">
  <h2>Details</h2>
</div>
<ws-domain-name-list [apiResponse]="domainReportsResponse" (searchChanged)="onSearchTermChanged($event)" (pageChanged)="onPageChanged($event)" (exportClicked)="onExportClicked($event)" [domainReportAnalytics]="domainReportAnalytics" (filterCreated)="onFilterCreated($event)" (orderingChanged)="onQueryOrderingChanged($event)" [searchTerm]="searchTerm" [queryOrdering]="queryOrdering"></ws-domain-name-list>
<ws-filter-panel *ngIf="queryFilters.length > 0" [queryFilters]="queryFilters" (queryFiltersChanged)="onQueryFiltersChanged($event)"></ws-filter-panel>
<div [class.filters-showing]="queryFilters.length"></div>
