<div class="row">
  <h2>Summary</h2>
</div>
<div class="row">
  <div class="col-md-6 column-container">
    <ws-donut-chart-card [dataPoints]="domainReportAnalytics?.related_ips" (dataClicked)="onRelatedIpsClicked($event)" [title]="'Related Ip Addresses'"></ws-donut-chart-card>
  </div>
  <div class="col-md-6 column-container">
    <ws-donut-chart-card [dataPoints]="domainReportAnalytics?.resolution_type" (dataClicked)="onResolutionTypeClicked($event)" [title]="'Domain Resolution Types'"></ws-donut-chart-card>
  </div>
  <div class="col-md-6 column-container">
    <ws-donut-chart-card [dataPoints]="domainReportAnalytics?.has_resolutions" (dataClicked)="onHasResolutionsClicked($event)" [title]="'Domain Resolved?'"></ws-donut-chart-card>
  </div>
  <div class="col-md-6 column-container">
    <ws-donut-chart-card [dataPoints]="domainReportAnalytics?.domain_added_by" (dataClicked)="onAddedByClicked($event)" [title]="'Domain Added By'"></ws-donut-chart-card>
  </div>
</div>
