<div class="form-container form-center greeting-form">
  <div class="alert" [hidden]="!loginSubmitted" [class.alert-success]="loginSubmitted && success" [class.alert-danger]="loginSubmitted && !success">
    {{response}}
  </div>
  <ws-login-form [showLabels]="false" (loginFormChange)="onLoginFormChanged($event)" (enterPressed)="onEnterPressed()"></ws-login-form>

  <button class="btn btn-primary btn-block" [disabled]="!loginForm.valid" (click)="onLoginClicked()">Log In</button>
</div>
<ws-greeting-navigation></ws-greeting-navigation>
