<div class="row">
  <div class="col-xs-24 col-sm-16 col-md-16 col-lg-16">
    <h2>Summary</h2>
    <div class="column-container">
      <ws-detail-list [detailItems]="webAppDetails"></ws-detail-list>
    </div>
  </div>
  <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
    <h2>Technologies</h2>
    <div class="column-container">
      <ws-web-application-technologies [webService]="webApp"></ws-web-application-technologies>
    </div>
  </div>
</div>
<div class="row">
  <h2>Resources</h2>
</div>
<div class="row">
  <div class="col-md-8 column-container">
    <ws-web-application-content-types-donut [httpTransactionAnalytics]="transactionAnalytics"></ws-web-application-content-types-donut>
  </div>
  <div class="col-md-8 column-container">
    <ws-web-application-response-code-donut [httpTransactionAnalytics]="transactionAnalytics"></ws-web-application-response-code-donut>
  </div>
  <div class="col-md-8 column-container">
  </div>
</div>
<div class="row column-container">
  <ws-http-transactions-list [transactionsApiResponse]="transactionsApiResponse" (pageChanged)="onTransactionsPageChanged($event)"></ws-http-transactions-list>
</div>
<div class="row">
  <h2>Screenshots</h2>
</div>
<ws-screenshot-list [showButtons]="false" [screenshotsApiResponse]="screenshotsApiResponse" (screenshotPageChanged)="onScreenshotPageChanged($event)"></ws-screenshot-list>
