<div class="row domain-report-summary-row column-container">
  <div class="row">
    <div class="summary-header">
      <div class="summary-title">
        <h3>
          {{titleText}}
          <small class="small-description">({{domainNameReport.createdDescription}})</small>
        </h3>
      </div>
      <div class="summary-chips">
      </div>
      <div class="navigation-container" *ngIf="showDetailsButton">
        <button md-fab md-tooltip="More Info" mdTooltipShowDelay="1000" color="primary" mdTooltipPosition="below" (click)="onDetailsClicked()">
          <i class="fa fa-icon fa-info fa-2x"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 summary-details">
      <ws-detail-list-panel [detailItems]="ipDetails" [title]="'IP Addresses'" (filterCreated)="onFilterCreated($event)"></ws-detail-list-panel>
    </div>
    <div class="col-md-12 html-details">
      <ws-detail-list-panel [detailItems]="resolutionDetails" [title]="'DNS Records'" (filterCreated)="onFilterCreated($event)"></ws-detail-list-panel>
    </div>
  </div>
</div>
