<div class="form-container form-center greeting-form">
  <div class="alert" [hidden]="!formSubmitted" [class.alert-success]="formSubmitted && success" [class.alert-danger]="formSubmitted && !success">
    {{response}}
  </div>
  <ws-forgot-password-form [showLabels]="false" (forgotPasswordFormChange)="onForgotPasswordFormChanged($event)" (enterPressed)="onEnterPressed()"></ws-forgot-password-form>
  <button class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid" (click)="onForgotPasswordClicked()">Request Password Reset</button>
</div>
<ws-greeting-navigation></ws-greeting-navigation>
