<div class="form-container form-center greeting-form">
  <div class="alert" [hidden]="!formSubmitted" [class.alert-success]="formSubmitted && success" [class.alert-danger]="formSubmitted && !success">
    {{response}}
  </div>
  <div class="row">
    <div class="col-md-14">
      <ws-reset-password-form (enterPressed)="onEnterPressed()" [(formGroup)]="resetPasswordForm"></ws-reset-password-form>
    </div>
    <div class="col-md-10 column-container">
      <ws-password-complexity-card [minLength]="8" [minUpperCase]="1" [minSpecial]="1" [password]="resetPasswordForm?.value.newPassword" [passwordRepeated]="resetPasswordForm?.value.newPasswordRepeat"></ws-password-complexity-card>
    </div>
  </div>
  <button class="btn btn-primary btn-block" [disabled]="!resetPasswordForm.valid" (click)="onResetPasswordClicked()">Reset Password</button>
</div>
