<form [formGroup]="formGroup" (keydown)="onKeyDown($event)">
  <md-input-container>
    <input md-input type="password" placeholder="Current Password" formControlName="currentPassword" required>
  </md-input-container>
  <md-input-container>
    <input md-input type="password" placeholder="New Password" formControlName="newPassword" required>
  </md-input-container>
  <md-input-container>
    <input md-input type="password" placeholder="New Password (Again)" formControlName="newPasswordRepeat" required>
  </md-input-container>
</form>
