<ws-table-header [apiResponse]="apiResponse" (pageChanged)="onPageChanged($event)" (searchChanged)="onSearchChanged($event)" (exportClicked)="onExportClicked()" [analytics]="domainReportAnalytics" (filterCreated)="onFilterCreated($event)" (orderingChanged)="onOrderingChanged($event)" [searchTerm]="searchTerm" [queryOrdering]="queryOrdering"></ws-table-header>
<md-card class="display-card">
  <div class="no-results" *ngIf="!apiResponse || apiResponse.count == 0">
    No results were found for your query.
  </div>
  <ws-domain-name-summary-row *ngFor="let report of apiResponse?.results" [domainNameReport]="report" class="rowable" (filterCreated)="onFilterCreated($event)"></ws-domain-name-summary-row>
</md-card>
<ws-table-footer [apiResponse]="apiResponse" (pageChanged)="onPageChanged($event)"></ws-table-footer>
